*{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        nav{
            background: #1d1c40;
            color:#fff;
            padding: 0 30px 0 30px;
        }
        .navbar{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
        }
        ul{
            font-size: x-large;
            display: flex;
            list-style-type: none;
        }
        li{
            padding: 20px;
        }
            @media (max-width: 600px) {
        .navbar {
            flex-direction: column;
            align-items: flex-start;
            padding: 10px 0;
        }

        ul {
            gap: 10px;
            flex-direction: column;
            width: 100%;
        }
        li {
            padding: 10px 0;
        }
    }